/* --------------------------------------------------
    EXPERTISE
-------------------------------------------------- */
.expertise {
    background-color: var(--white);
}

.expertise-grid {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 20px;
}

.expertise h2 {
    min-width: 340px;
    animation: expertiseTitle 1.8s forwards;
}

@keyframes expertiseTitle {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.expertise p {
    letter-spacing: 1px;
    font-family: var(--font2);
    animation: expertiseText 1.8s forwards;
}

@keyframes expertiseText {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1100px) {
    .expertise h2 {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .expertise-grid {
        display: block;
    }
    .expertise h2 {
        min-width: 0px;
        margin: 3rem 0;
        line-height: 2.5rem;
    }
}