footer{
    background: #341713;
    color: white;
}

.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 80px;
}

.footer-container .footer-item {
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    font-family: var(--font2);
}

.footer-container li {
    margin-bottom: 10px;
}

.footer-container h3 {
    display: block;
    font-size: 1.75rem;
    margin-bottom: 24px;
}

.copyright-container{
    background: #290601;
    text-align: center;
}

.footer-midias li {
    color: white;
    margin-right: 60px;
    display: inline-block;
    font-size: 1.5rem;
}

.footer-contact li{
    font-size: 1rem;
}

.footer-contact i{
    margin-right: 8px;
}