footer{
    background: #341713;
    color: white;
}

.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-container{
    margin-top: 0;
}

.footer-container .footer-item {
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    font-family: var(--font2);
}

.footer-container li {
    margin-bottom: 10px;
}

.footer-container h3 {
    display: block;
    font-size: 1.75rem;
    margin-bottom: 24px;
}

.copyright-container{
    background: #290601;
    text-align: center;
}

.footer-midias li {
    color: white;
    margin-right: 60px;
    display: inline-block;
    font-size: 1.5rem;
}

.footer-contact li{
    font-size: 1rem;
}

.footer-contact i{
    margin-right: 8px;
}

@media (max-width: 1000px) {

    .footer-midias li {
        font-size: 1.25rem;
    }

    .footer-contact li{
        font-size: 0.8rem;
    }
}

@media (max-width: 860px) {
    .footer-container{
        padding-inline: 40px;
    }
    .footer-container h3 {
        font-size: 1.5rem;
    }
    .footer-midias li {
        font-size: 1.0rem;
    }

    .footer-contact li{
        font-size: 0.65rem;
    }
    .footer-midias li{
        margin-right: 20px;
    }
}

@media (max-width: 500px) {
    .footer-inst {
        padding: 20px 0 20px;
    }
    .footer-container  {
        display: block;
    }
    .footer-container .footer-item{
        margin: 0 0 10px;
        border-bottom: 1px white solid;
    }
    .footer-container .footer-item:last-child{
        border:none;
    }
    .footer-item h3 {
        margin-bottom: 15px;
    }

    .footer-midias li{
        margin-right: 10px;
    }
}