/* --------------------------------------------------
    HEADER
-------------------------------------------------- */
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
}

.header-inner nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.header-inner nav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #801100;
}