/* --------------------------------------------------
    HEADER
-------------------------------------------------- */
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
}

.header-inner nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.header-inner nav a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #801100;
    line-height: 18px;
    letter-spacing: 0.8px;
    margin-left: 36px;
}

.header-inner nav a:hover{
    color: #D1412C;
}