/* --------------------------------------------------
    HERO
-------------------------------------------------- */
.hero {
    position: relative;
    overflow: hidden;
    color: var(--white);
    background-color: #000;
    min-height: clamp(360px, 60vh, 488px);
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/hero2.png")  no-repeat; 
    background-size: cover;
    transform-origin: top left; 
    transform: scale(1.4);
    opacity: 1;
    animation: heroZoomOut 40s ease-out forwards;
    z-index: 1;
}

@keyframes heroZoomOut {
    0% {
        transform: scale(1.4);
    }
    5% {
        transform: scale(0.995);
    }
    15% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.15);
    }
}

.hero-content {
    position: relative;
    z-index: 1;
    opacity: 0;
    transform: translateY(300px);
    animation: heroTextIntro 1.8s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    animation-delay: 1s;
    display: flex;
    flex-direction: column;
    margin: 35px 80px;
    padding: 50px 60px;
    border: 1px red solid;
    gap: 40px;
}

@keyframes heroTextIntro {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero .content-grid {
    max-width: 620px; 
}

.hero h1 {
    font-size: 3.1rem;
    line-height: 4rem;
    font-family: var(--font1);
    font-weight: var(--semi-bold);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.hero p {
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: var(--font2);
    font-weight: var(--semi-bold);
    letter-spacing: 1px;
}

.hero .cta {
    border: 2px solid var(--white);
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font1);
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: var(--white);
    line-height: 1.125rem;
    padding: 13px 40px;
    max-width: 460px;
}