/* --------------------------------------------------
    HERO
-------------------------------------------------- */
.hero {
    position: relative;
    overflow: hidden;
    padding: 110px 0;
    color: var(--white);
    background-color: #000; /* cor de fundo caso sobre espaço */
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/hero2.png")  no-repeat; 
    background-size: cover;
    transform-origin: top left; 
    transform: scale(1.4);
    opacity: 1;
    animation: heroZoomOut 40s ease-out forwards;
    z-index: 1;
}

@keyframes heroZoomOut {
    0% {
        transform: scale(1.4);
    }
    10% {
        transform: scale(0.995);
    }
    15% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.15);
    }
}


/* Animação real de zoom-out sem mexer no layout */
@keyframes heroZoomTrue {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-content {
    position: relative;
    z-index: 1;
    opacity: 0;
    transform: translateY(300px);
    animation: heroTextIntro 1.8s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    animation-delay: 0.3s;
}

@keyframes heroTextIntro {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.hero .content-grid {
    max-width: 720px; /* hero mais estreito */
}

.hero h1 {
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
}

.hero p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 520px;
}

.hero .cta {
    display: inline-block;
    border: 2px solid var(--white);
    padding: 12px 40px;
    border-radius: 40px;
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 12px;
    text-align: center;
    width: 50%;
}
