.origin-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 130px;
}

.origin-text-container, .origin-img-container {
    opacity: 0;             
}

.origin-img-container img{
    min-height: 70%;
    width: 100%;
}

.origin-text-container.animate-origin {
    animation: originText 1.8s forwards;
}

.origin-img-container.animate-origin {
    animation: originImg 1.8s forwards;
}


.origin-text-container h2{
    font-weight: 500;
    margin-bottom: 32px;
}

.origin-text-container p{
    letter-spacing: 1px;
    font-family: var(--font2);
    margin-bottom: 30px;

}

@keyframes originText {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    80% {
        opacity: 1;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes originImg {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
    80% {
        opacity: 1;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 860px) {
    .origin-container {
        display: block;
    }

    .origin-text-container p{
        margin-bottom: 3rem;
    }
}



@media (max-width: 1200px) {
    .origin-container{
        gap: 80px;
    } 
}

