/* --------------------------------------------------
    PRODUTOS
-------------------------------------------------- */
.products {
    background: black;
    color: var(--white);
    text-align: center;
}

.products h2 {
    font-size: 36px;
}
