.talk-to-box{
    background-color: #0F0D08;
    padding: 12px;
    font-size: 13.3px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-align: right;
}

.talk-to-box > a {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 108px;
}

.talk-to-icon {
    padding: 15px 11px;
}