/* --------------------------------------------------
    VARIÁVEIS DE LAYOUT
-------------------------------------------------- */
:root {
    --layout-padding: 80px;
    --content-padding: 130px;
    --layout-margin: 35px 80px;
    --layout-margin-md: 35px 60px;
    --layout-margin-sd: 35px 40px;
    --max-width: 90vw;
    --font1: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font2: "Source Sans Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --dark: #0F0D08;
    --white: #FFFFFF;
    --semi-bold: 600;
}

/* --------------------------------------------------
    BASE
-------------------------------------------------- */
body {
    font-family: var(--font);
    color: var(--dark);
    line-height: 1.5;
    width: 100vw;
    overflow-x: hidden;
}

/* Container global de todas as seções */
.content-grid {
    max-width: var(--max-width);
    padding-inline: var(--layout-padding);
    margin: var(--layout-margin);
}

@media (max-width: 580px) {
    .content-grid {
        padding-inline: 10px;
        margin: 35px 40px;
    }
    .content-grid h2 {
        font-size: 2.1rem;
    }
    .content-grid p {
        font-size: 1rem;
    }
}


@media (max-width: 750px) {
    .content-grid {
        padding-inline: 20px;
    }
}

@media (max-width: 860px) {
    .origin-container {
        display: block;
    }
    .origin p {
        font-size: 1rem;
    }
    .origin h2 {
        font-size: 2.3rem;
    }
}