/* --------------------------------------------------
    VARIÁVEIS DE LAYOUT
-------------------------------------------------- */
:root {
    --layout-padding: 80px;
    --content-padding: 130px;
    --layout-margin: 35px 80px;
    --layout-margin-md: 35px 60px;
    --layout-margin-sd: 35px 40px;
    --max-width: 90vw;
    --font1: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font2: "Source Sans Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --dark: #0F0D08;
    --white: #FFFFFF;
    --semi-bold: 600;
}

/* --------------------------------------------------
    BASE
-------------------------------------------------- */
body {
    font-family: var(--font);
    color: var(--dark);
    line-height: 1.5;
    width: 100vw;
    overflow-x: hidden;
}

/* Container global de todas as seções */
.content-grid {
    max-width: var(--max-width);
    padding-inline: var(--layout-padding);
    margin: var(--layout-margin);
}

.content-grid h2,h1{
    font-size: 3rem;
    font-weight: 500;
    line-height: 4.5rem;
}

.content-grid p{
    font-size: 1.25rem;
    font-weight: 400;
}


@media (max-width: 1300px){
    .content-grid p{
        font-size: 0.9rem;
    }
}

@media (max-width: 1200px){
    .content-grid {
        padding-inline: 40px;
    }
    .content-grid p{
        font-size: 0.85rem;

    }
}

@media (max-width: 1000px){
    .content-grid {
        padding-inline: 20px;
    }
}

@media (max-width: 860px) {
    .content-grid {
        display: block;
    }
    .content-grid p {
        font-size: 0.8rem;
    }
    .content-grid h2,h1 {
        font-size: 2.3rem;
        line-height: 3rem;
    }
}

@media (max-width: 580px) {
    .content-grid {
        margin: 35px 40px;
    }
    .content-grid h2,h1 {
        font-size: 2.1rem;
        line-height: 2rem;
    }
    .content-grid p {
        font-size: 0.7rem;
    }
}
