/* --------------------------------------------------
    VARIÁVEIS DE LAYOUT
-------------------------------------------------- */
:root {
    --layout-padding: 80px;
    --content-padding: 130px;
    --content-margin: 35px 80px;
    --max-width: 90vw;
    --font1: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font2: "Source Sans Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --dark: #0F0D08;
    --white: #FFFFFF;
    --semi-bold: 600;
}

/* --------------------------------------------------
    BASE
-------------------------------------------------- */
body {
    font-family: var(--font);
    color: var(--dark);
    line-height: 1.5;
}

/* Container global de todas as seções */
.content-grid {
    max-width: var(--max-width);
    padding-inline: var(--layout-padding);
}
