SMTP_HOST=smtp.kinghost.net
SMTP_USER=no-reply@brasilway.com.br
SMTP_PASS=SUA_SENHA_AQUI
TO_EMAIL=rh@jangadeirotextil.com.br
TO_NAME=Brasilway
FROM_NAME=Site Brasilway - Contato
TURNSTILE_SECRET_KEY=SUA_SECRET_KEY_AQUI
