/* --------------------------------------------------
    VARIÁVEIS DE LAYOUT
-------------------------------------------------- */
:root {
    --layout-padding: 80px;
    --content-padding: 130px;
    --layout-margin: 35px 80px;
    --layout-margin-md: 35px 60px;
    --layout-margin-sd: 35px 40px;
    --max-width: 90vw;
    --font1: "Playfair Display SC", serif;
    --font2: "Inter", sans-serif;
    --font3: "Playfair Display", serif;
    --dark: #0F0D08;
    --white: #FFFFFF;
    --semi-bold: 600;
}

/* --------------------------------------------------
    BASE
-------------------------------------------------- */
html{
    font-size: 62.5% !important;
}

body {
    font-family: var(--font1);
    color: var(--dark);
    line-height: 1.5;
    width: 100vw;
    overflow-x: hidden;
}

hr{
    margin: 0;
}

/* Container global de todas as seções */
.container {
    max-width: var(--max-width);
    padding-inline: var(--layout-padding);
    margin: var(--layout-margin);
}

.container h2,
.container h1{
    font-family: var(--font3);
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 7.2rem;
}

.container h3{
    color: var(--white);
    font-family: var(--font1);
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.8rem;
    letter-spacing: 2%;
}

.container p{
    max-width: 520px;
    color: var(--dark);
    font-family: var(--font2);
    font-size: 1.6rem;
    line-height: 2.9rem;
    letter-spacing: 0.4px;
}

@media (max-width: 1300px){
    .container h2,
    .container h1{
        font-size: 4.48rem;
    }
    .container p{
        font-size: 1.6rem;
    }

}

@media (max-width: 1200px){
    .container {
        padding-inline: 40px;
    }
    .container h2,
    .container h1{
        font-size: 4.16rem;
    }
    .container p{
        font-size: 1.5rem;
        line-height: 2.6rem;
    }

}

@media (max-width: 1000px){
    .container {
        padding-inline: 20px;
    }
}

@media (max-width: 860px) {
    .container {
        display: block;
    }
    .container h2,
    .container h1 {
        font-size: 3.84rem;
        line-height: 4.8rem;
    }

    .container p {
        max-width: none;
        font-size: 1.5rem;
        line-height: 2.6rem;
    }

}

@media (max-width: 580px) {
    .container {
        margin: 35px 40px;
    }
    .container h2,
    .container h1 {
        font-size: 3.52rem;
        line-height: 3.2rem;
    }
    .container p {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

}
