/* --------------------------------------------------
    VARIÁVEIS DE LAYOUT
-------------------------------------------------- */
:root {
    --layout-padding: 80px;
    --content-padding: 130px;
    --layout-margin: 35px 80px;
    --layout-margin-md: 35px 60px;
    --layout-margin-sd: 35px 40px;
    --max-width: 90vw;
    --font1: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font2: "Source Sans Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --dark: #0F0D08;
    --white: #FFFFFF;
    --semi-bold: 600;
}

/* --------------------------------------------------
    BASE
-------------------------------------------------- */
html{
    font-size: 62.5% !important;
}

body {
    font-family: var(--font1);
    color: var(--dark);
    line-height: 1.5;
    width: 100vw;
    overflow-x: hidden;
}

/* Container global de todas as seções */
.container {
    max-width: var(--max-width);
    padding-inline: var(--layout-padding);
    margin: var(--layout-margin);
}

.container h2,h1{
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 7.2rem;
}

.container h3{
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 7.2rem;
}

.container p{
    font-size: 2rem;
    font-weight: 400;
}

@media (max-width: 1300px){
    .container h2,h1{
        font-size: 4.48rem;
    }
    .container p{
        font-size: 1.76rem;
    }
}

@media (max-width: 1200px){
    .container {
        padding-inline: 40px;
    }
    .container h2,h1{
        font-size: 4.16rem;
    }
    .container p{
        font-size: 1.6rem;
    }
}

@media (max-width: 1000px){
    .container {
        padding-inline: 20px;
    }
}

@media (max-width: 860px) {
    .container {
        display: block;
    }
    .container p {
        font-size: 1.44rem;
    }
    .container h2,h1 {
        font-size: 3.84rem;
        line-height: 4.8rem;
    }
}

@media (max-width: 580px) {
    .container {
        margin: 35px 40px;
    }
    .container h2,h1 {
        font-size: 3.52rem;
        line-height: 3.2rem;
    }
    .container p {
        font-size: 1.28rem;
        line-height: 3.2rem;
    }
}
