.platform-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 130px;
}

.platform-text-container, .platform-img-container {
    opacity: 0;             
}

.platform-img-container img{
    width: 100%;
}

.platform-text-container.animate-platform {
    animation: platformText 1.8s forwards;
}

.platform-img-container.animate-platform {
    animation: platformImg 1.8s forwards;
}


.platform-text-container h2{
    font-weight: 500;
    margin-bottom: 32px;
}

.platform-text-container p{
    letter-spacing: 1px;
    font-family: var(--font2);
    margin-bottom: 2rem;
}

@keyframes platformText {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
    80% {
        opacity: 1;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes platformImg {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    80% {
        opacity: 1;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1200px) {
    .platform-container{
        gap: 80px;
    } 
}

@media (max-width: 860px) {
    .platform-container {
        display: block;
    }
    .platform-img-container{
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 600px) {

    .platform-text-container p{
        margin-bottom: 1rem;
    }
}

