.work-with{
  display: flex;           /* o pai vira flex */
  align-items: stretch;    /* faz os filhos ocuparem toda a altura */
  background: url("../../images/work-with.png") no-repeat;
  background-size: cover;
  color: var(--white);
  background-color: #000;
  min-height: clamp(360px, 40vh, 488px);
  border: 3px solid yellow;
}

.work-with-container{
  flex: 1;                 /* ocupa o espaço disponível (altura e largura conforme layout) */
  border: 3px solid red;
  display: flex;           /* se você quer usar flex dentro dele, ok */
}


.work-with-text-container.animate-work-with {
    animation: workWithText 1.8s forwards;
}

.work-with-text-container{
    border: 3px solid green;
    opacity: 0;
    width: 50%;
}

@keyframes workWithText {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    80% {
        opacity: 1;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.work-with-text-container h2{
    font-weight: 500;
    margin-bottom: 50px;
}

.work-with-text-container p{
    letter-spacing: 1px;
    font-family: var(--font2);
    font-weight: 400;
}

.form-container{
    border: 3px solid rgb(76, 4, 67);
}
.work-with-form{
    display: grid;
    grid-template-columns: 1fr;
}

.work-with-form > .field-row {
    display: flex;
}

.work-with-form .field {
    display: grid;
}

.work-with-form label{
    font-family: var(--font2);
}

@media (max-width: 1200px) {
   .work-with-text-container{
        width: 60%;
    }
    .work-with-text-container{
        width: 60%;
    }
}

@media (max-width: 1000px) {
   .work-with-text-container{
        width: 70%;
    }
}

@media (max-width: 700px) {
    .work-with-container{
        margin: 10px 40px;
    }
   .work-with-text-container{
        width: 100%;
    }
    .work-with-text-container h2{
        margin: 20px 0 40px;
    }
}