.work-with {
    background-color: var(--white);
    background: url("/images/work-with.png") no-repeat; 
    background-size: cover;
    color: var(--white);
    background-color: #000;
    min-height: clamp(360px, 40vh, 488px);
    position: relative;
}

.work-with-container {
    display: flex;
    height: 100%;
    position: absolute;
}

.work-with-text-container.animate-work-with {
    animation: workWithText 1.8s forwards;
}

.work-with-text-container{
    opacity: 0;
    width: 50%;
}

@keyframes workWithText {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    80% {
        opacity: 1;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.work-with-text-container h2{
    font-weight: 500;
    margin-bottom: 50px;
}

.work-with-text-container p{
    letter-spacing: 1px;
    font-family: var(--font2);
    font-weight: 400;
}

@media (max-width: 1200px) {
   .work-with-text-container{
        width: 60%;
    }
    .work-with-text-container{
        width: 60%;
    }
}

@media (max-width: 1000px) {
   .work-with-text-container{
        width: 70%;
    }
}

@media (max-width: 700px) {
    .work-with-container{
        margin: 10px 40px;
    }
   .work-with-text-container{
        width: 100%;
    }
    .work-with-text-container h2{
        margin: 20px 0 40px;
    }
}