.work-with{
  display: flex;        
  align-items: stretch;   
  background: url("../../images/work-with.png") no-repeat;
  background-size: cover;
  color: var(--white);
  background-color: #000;
  min-height: clamp(360px, 40vh, 488px);
}

.work-with-container{
  flex: 1;                 
  display: flex;           
}


.work-with-text-container.animate-work-with {
    animation: workWithText 1.8s forwards;
}

.work-with-text-container{
    opacity: 0;
    width: 50%;
}

@keyframes workWithText {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    80% {
        opacity: 1;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.work-with-text-container h2{
    font-weight: 500;
    margin-bottom: 50px;
}

.work-with-text-container p{
    letter-spacing: 1px;
    font-family: var(--font2);
    font-weight: 400;
}

.form-container{
    margin-left: auto;
    min-width: 520px;
    font-weight: 400;
}

.work-with-form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.8rem;
    margin-top: 10px;
}

.work-with-form > .field-row {
    display: flex;
}

.work-with-form .field {
    display: grid;
}

.work-with-form .field-row{
    display: flex;
    justify-content: space-between;
}

.field-row .field-name{
    width: 60%;
}

.work-with-form label{
    font-family: var(--font2);
    font-size: 1.6rem;
    line-height: 2.0rem;
    letter-spacing: 1px;
    margin-bottom: 8px;
    font-weight: 450;
}

.work-with-form input,textarea{
    background: #F1F1F1;
    border: #CCCCCC solid 1px;
    border-radius: 12px;
    min-height: 40px;
    padding: 0px 10px;
}

.work-with-form input:focus,textarea:focus{
    background: #B5B9B6;
}

@media (max-width: 1200px) {
   .work-with-text-container{
        width: 60%;
    }
    .work-with-text-container{
        width: 60%;
    }
}

@media (max-width: 1000px) {
   .work-with-text-container{
        width: 70%;
    }
}

@media (max-width: 700px) {
    .work-with-container{
        margin: 10px 40px;
    }
   .work-with-text-container{
        width: 100%;
    }
    .work-with-text-container h2{
        margin: 20px 0 40px;
    }
}