.main-section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 80px 0px;
}

.main-section1 h2{
    line-height: 3rem;
    margin-bottom: 32px;
}
.main-section1 img {
    max-height: 810px;
    max-width: 100%;
}